@charset "utf-8";
/* CSS Document */

body {
	background-color: dimgray;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 50px;

}
.content1 img{
  width: 100%;
      position: relative;
}

.containers {
	margin: auto;
	float: center;
 	text-align: center;
	background: white;
    width: 95%;
	height: auto;
	padding-bottom: 20px;
	
}

.container2{
	background: none;
	padding: 15px;
	height: auto;
	max-height: 100%;
	max-width: 100%;
margin-top: 10px;
	
}

.container2 img{
	max-height: 100%;
	max-width: 100%;
		width: 450px;
	height: auto;
	float: left;
}
.text1 h2{
	margin-top: 30px;
font-family: Verdana, Geneva, sans-serif;
font-size: 2.5vw;
letter-spacing: 2px;
word-spacing: 2px;
color: #23978B;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
.text1 p{
	margin-top: 5px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 1.5vw;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;	
}
@media screen and (max-width : 1011px ){	
	.container2 img{
	max-height: 100%;
	max-width: 100%;
		width: auto;
	height: auto;
	float: center;
}	
	}
	

}