
body {

	background-position: fixed;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: century gothic;
  background-size: auto;

}

.navbar 
{
	overflow: hidden;
	max-height: auto;
	float: left;
	margin-top: -30px;
}

.navbar a 
{
	max-height: auto;
	font-size: 2.0vw;
	color:white;
	background:black;
    margin-right:30px;
}


table{
	
	width:650px;
	height:400px;
	text-align: center;
	margin-top: 45px;

}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  margin-left:-140px;
  background-color: #3e6c90;
  color: white;
  float:left;
}

.next {
  margin-left:100px;
  background-color: #3e6c90;
  color: white;
  float: right;
}

.round {
  border-radius: 50%;
}


section
{
  width: 100%;
  height: 100%;
  background: radial-gradient(#333,#000);
}

.set 
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.set div
{
  position: absolute;
  display: block;
}

.set div:nth-child(1)
{
  left: 36%;
  animation: animate 10s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(2)
{
  left: 84%;
  animation: animate 12s linear infinite;
  animation-delay: -3s;
}

.set div:nth-child(3)
{
  left: 72%;
  animation: animate 6s linear infinite;
  
}

.set div:nth-child(4)
{
  left: 12%;
  animation: animate 8s linear infinite;
  animation-delay: -3s;
}

.set div:nth-child(5)
{
  left: 96%;
  animation: animate 10s linear infinite;
  animation-delay: -8s;
}

.set div:nth-child(6)
{
  left: 0%;
  animation: animate 8s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(7)
{
  left: 24%;
  animation: animate 9s linear infinite;
  animation-delay: -7s;
}

.set div:nth-child(8)
{
  left: 60%;
  animation: animate 10s linear infinite;
  animation-delay: -6s;
}

.set div:nth-child(9)
{
  left: 48%;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate
{
  0%
  {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  } 
  10%
  {
    opacity: 1;

  }
  20%
  {
  
    transform: translateX(-20px) rotate(45deg);
  }
  40%
  {
  
    transform: translateX(-20px) rotate(90deg);
  }
  60%
  {
  
    transform: translateX(20px) rotate(135deg);
  }
  80%
  {
  
    transform: translateX(-20px) rotate(180deg);
  }
  100%
  {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
  10%
  {
    opacity: 1;
    top: -10%;
  }
}

img 
{
  width: 120px;
  height: 120px;
}


